*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* .container2{
  text-align: center;
  padding-top: 3%;
} */

/* Registration form */
.main-content-lg-xl {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #0009, #000),
  url('../images/registration.jpg') center no-repeat;
  background-size: cover;
  animation: zoom 20s infinite alternate;
}
.line {
  height: 2px;
  background-color: #fff;
  width: 100px;
  margin: 0px auto;
}
.text-lg > h1 {
  color: #2193b0;
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width:620px) {
  .text-lg > h1{
    font-size: 5rem;
  }

  .main-content-lg-xl {
    min-height:50vh;
  }
  
}

@media screen and (max-width:520px) {
  .text-lg > h1{
    font-size: 4rem;
  }

  .main-content-lg-xl {
    min-height:50vh;
  }
  
}

@media screen and (max-width:424px) {
  .text-lg > h1{
    font-size: 3rem;
  }

  .main-content-lg-xl {
    min-height:50vh;
  }
  
}